/* ------- headers ------- */
h1 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-weight: lighter;
    font-size: 1.6vw;
    color: #2054ff;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-weight: lighter;
    font-size: 1.1vw;
    color: #2054ff;
    margin-bottom: 10px;
}

/* ------- hyperlinks ------- */

a {
    text-decoration: none; /* removes underline */
}

/* ------- body ------- */

body {
    font-family: Arial, sans-serif;
    background-color: #fbf5ee;
    text-align: left;
    /* margin: 0 300px; */
    margin-left: 24vw;
    margin-right: 30vw;
    line-height: 1.5;
    padding-bottom: 100px; /* add padding to the bottom of the page */
}

.console {
    margin: 0 300px;
}

/* ------- navigation ------- */

#nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15vw;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #333;
}

@media (min-width: 1330px) {
    #nav {
      width: 200px;
    }
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

#nav li {
    font-size: 18px;
}

#nav #home {
    font-size: 18px;
    padding: 0;
}

#nav #topic {
    font-size: 16px;
    padding: 0px;
}

#nav #tutorial {
    font-size: 14px;
    margin: 0 20px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 5px;
}

#nav a:hover {
    background-color: #444;
}

#nav a.active {
    color: #6186ff;
    font-weight: bold;
}

.nav-item {
    cursor: pointer;
    user-select: none; /* Standard */
}

.sub-nav-item {
    padding: 5px;
    cursor: pointer;
    user-select: none; /* Standard */
}
  
.nav-item:hover {
    cursor: pointer;
}

.sub-nav-item:hover .sub-nav-item {
    cursor: pointer;
    background-color: #7c7c7c44;
}

.sub-nav-item:hover .sub-sub-nav {
    cursor: pointer;
    background-color: #383838;
}

.nav-item.close .sub-nav {
    display: none;
}

.sub-nav-item.close .sub-sub-nav {
    display: none;
}


/* ------- image container ------- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 10px;
    justify-content: center;
    align-items: end;
}

.image-container {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #2054ff;
    position: relative;
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1;
}

.image-container img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.image-container:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw;
}

/* ------- content text ------- */

#content-conclusion {
    margin-bottom: 20px;
}

/* ------- image ------- */

.image-fill img{
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* this makes the image fill the container while preserving its aspect ratio */
}

.image-centre img{
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* transform: translateX(50%); */
}

/* ------- code ------- */

.CodeMirror {
    height: auto;
}

code {
    font-size: 16px;
    font-weight: bold;
}

/* ------- terminal ------- */

.console-container {
    display: flex;
}

.code-input-container {
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
}

.terminal-output-container {
    width: 50%;
    height: 400px;
    position: relative;
}
  
#terminal-output {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 10px;
    font-size: 16px;
    font-family: monospace;
    overflow-y: scroll;
    resize: none;
    color: #ffffff;
}
  
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  

/* ------- buttons ------- */

.run-button {
    font-size: 16px;
    padding: 5px 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 2;
}

.footer .back-to-tutorials {
    background-color: #fbf5ee;
}
