h2 {
    text-align: center; /* centers the title */
    font-family: Arial, sans-serif;
    color: #2054ff;
    margin-bottom: 40px; /* adds margin below the title */
}

#projects {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between; /* aligns the projects horizontally */
}

.project {
    width: calc(25% - 20px);
    border: 1px solid #2054ff;
    padding: 10px;
    margin: 20px;
    /* box-shadow: 2px 2px 2px #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-project-container {
    margin-bottom: 20px; /* adds margin below the title */
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* border-radius: 5px; */
    position: relative;
    z-index: -1;
}

/* .project h3,
.project p,
.project .button {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1;
} */

.project h3 {
    color: #6896db;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.project p {
    color: #6896db;
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.project .button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6896db;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.project .button:hover {
    background-color: #2f73da;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fbf5ee;
    /*text-align: center; /* centers the text */
    padding: 0 200px; /* adds 20px of padding at the left and right side */
    line-height: 1.5; /* Adjust this value as needed */
}

pre {
    background-color: #f2f9ff;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto; /* Allows horizontal scrolling on small screens */
    border: 1px solid #ccc; /* Add a border */
    text-align: left; /* aligns the text of each li element to the left */
}

code {
    font-family: Consolas, "Courier New", monospace; /* Use a monospace font for the code */
    color: #444;
    font-size: 0.9em;
}

.datatype {
    color: rgb(22, 56, 100);
    font-weight: bold; /* Add this line */
}

.variable {
    color: rgb(100, 127, 136);
}

.function {
    color: rgb(159, 159, 30);
}

.number {
    color: rgb(67, 130, 49);
}

li {
    text-align: left; /* aligns the text of each li element to the left */
}

.back-button {
    display: inline-block;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6896db;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    margin-top:20px;
}

.back-button:hover {
    background-color: #2f73da;
}